.header-logo {
    display: block;
    width: 196px;
    height: 36px;
    background: url(https://cdnvn.truyenfull.vn/img/spriteimg_new_white_op.png) no-repeat 0 0;
    text-indent: -9999px;
    white-space: nowrap;
    outline: none;
    margin: 5px 5px 0 0;
}
.header-logo {
    display: block;
    width: 196px;
    height: 36px;
    background: url(//static.8cache.com/img/spriteimg_new_white_op.png) no-repeat 0 0;
    text-indent: -9999px;
    white-space: nowrap;
    outline: none;
    margin: 5px 5px 0 0;
}
a {
    color: #4E4E4E;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a, a:hover, a:focus {
    color: #4E4E4E;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
biểu định kiểu tác nhân người dùng
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    display: inline-block;
}
h1 {
    font-size: 36px;
}
h1, h2, h3, h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    display: inline-block;
}
h1, .h1 {
    font-size: 36px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
biểu định kiểu tác nhân người dùng
h1 {
    font-size: 2em;
    font-weight: bold;
}
body {
    background: url(https://cdnvn.truyenfull.vn/img/bg.jpg) top center repeat-x #F4F4F4;
    color: #4E4E4E;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    background: url(//static.8cache.com/img/bg.jpg) top center repeat-x #F4F4F4;
    color: #4E4E4E;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #4E4E4E;
    text-shadow: none;
    color: #fff;
}